# GUI Application

In [1]:
#Done in previous class
from ipywidgets import widgets
from IPython.display import display, clear_output
import pandas as pd
from tkinter import Tk, filedialog
import matplotlib.pyplot as plt
graph_type = ['Choose one.. ','line','bar']
operation =['choose','mean','max','min','sum','count']
df = ''
new_df = ''
def select_files(b):
    clear_output()
    global df
    root = Tk()
    root.withdraw() 
    file_name = filedialog.askopenfilename()
    df = pd.read_csv(file_name)
    print(file_name)
    df.replace( '', float('nan') ,inplace=True)
    df.replace( '0', float('nan') ,inplace=True)
    df = df.dropna()
    display(df)
    groupby_col_widget = widgets.Dropdown(options=df.columns)
    operation_col_widget = widgets.Dropdown(options = df.columns)
    operation_widget = widgets.Dropdown(options = operation)
    groupby_int = widgets.interactive(groupby_dataframe, groupby_column=groupby_col_widget, operation_column= operation_col_widget, operation = operation_widget)
    display(groupby_int)
def get_widget():
    global df
    global new_df
    xlabel_widget = widgets.Dropdown(options = new_df.columns)
    ylabel_widget = widgets.Dropdown(options = new_df.columns)
    graph_widget = widgets.Dropdown(options = graph_type)
    graph = widgets.interactive(display_plot, xaxis=xlabel_widget, yaxis= ylabel_widget, graph_type = graph_widget)
    display(graph)
fileselect = widgets.Button(description="File select")
fileselect.on_click(select_files)
display(fileselect)
#End of what was done in previous class
# Code for groupby_dataframe function
def groupby_dataframe(groupby_column, operation_column, operation):
    global df
    global new_df
    try: 
        print(df[operation_column].dtypes)
        if(operation == 'mean'):
            if(df[operation_column].dtypes != 'float' or df[operation_column].dtypes != 'int'):
                df[operation_column] = df[operation_column].astype(float)
            new_df = df.groupby(groupby_column)[operation_column].mean().reset_index()
            display(new_df)
        elif(operation == 'max'):
            new_df = df.groupby(groupby_column)[operation_column].max().reset_index()
            display(new_df)
        elif(operation == 'min'):
            new_df = df.groupby(groupby_column)[operation_column].min().reset_index()
            display(new_df)
        elif(operation == 'sum'):
            if(df[operation_column].dtypes != 'float' or df[operation_column].dtypes != 'int'):
                df[operation_column] = df[operation_column].astype(float)
            new_df = df.groupby(groupby_column)[operation_column].sum().reset_index()
            display(new_df)
        elif(operation == 'count'):
            new_df = df.groupby(groupby_column)[operation_column].count().reset_index()
            display(new_df)
        else:
            print('Choose valid option') 
        get_widget()
    except:
        print('The data is not structured so cannot perform the selected action')
# pre defined code
def display_plot(xaxis, yaxis, graph_type):
    global new_df
    if(graph_type == 'line'):
        plt.subplots(figsize=(19,8))
        plt.plot(new_df[xaxis], new_df[yaxis], linewidth=3.0)
        plt.xlabel(xaxis)
        plt.xticks(rotation='vertical')
        plt.ylabel(yaxis)
        plt.show()
    elif(graph_type == 'bar'):
        plt.subplots(figsize=(19,8))
        plt.bar(new_df[xaxis], new_df[yaxis], color=['red', 'green','blue','yellow','pink'])
        plt.xlabel(xaxis)
        plt.xticks(rotation='vertical')
        plt.ylabel(yaxis)
        plt.show()
    else:
        print("Choose valid graph")
#pre defined code end

C:/Users/Monika/Jupyter projects WHJR/ADV-C200/cardiovascular.csv

,Unnamed: 0,id,age,gender,height,weight,systolic_blood_pressure,diastolic_blood_pressure,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,1,1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,2,2,51.0,1,165,64.0,130,70,3,1,0,0,0,1
3,3,3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,4,4,47.0,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,69995,99993,52.0,2,168,76.0,120,80,1,1,1,0,1,0
69996,69996,99995,61.0,1,158,126.0,140,90,2,2,0,0,1,1
69997,69997,99996,52.0,2,183,105.0,180,90,3,1,0,1,0,1
69998,69998,99998,61.0,1,163,72.0,135,80,1,2,0,0,0,1
69999,69999,99999,56.0,1,170,72.0,120,80,2,1,0,0,1,0

interactive(children=(Dropdown(description='groupby_column', options=('Unnamed: 0', 'id', 'age', 'gender', 'heâ€¦